<div class="sidebar">
  <div class="sidebar__brand">
    <h2>FitFlow</h2>
    <span>Admin Panel</span>
  </div>

  <nav class="sidebar__nav">
    <a routerLink="/dashboard" class="sidebar__link">Dashboard</a>
    <a routerLink="/clientes" class="sidebar__link">Clientes</a>
    <a routerLink="/rutinas" class="sidebar__link">Rutinas</a>
    <a href="#" class="sidebar__link">Asistencia</a>
    <a href="#" class="sidebar__link">Pagos</a>
    <a href="#" class="sidebar__link">Usuarios</a>
  </nav>
</div>